
<div class="row" style="display:flex; min-height:80vh; align-items:center;">
    <div class="col-md-8 offset-md-2 bg-light p-4 shadow">
        <h2>Sign Up!</h2>
        <br />
        <form method="post" action="/account/signup">
            <input type="text" class="form-control" name="name" placeholder="Name" />
            <br />
            <input type="text" class="form-control" name="email" placeholder="Email" />
            <br />
            <input type="password" class="form-control" name="password" placeholder="Password" />
            <br />
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>